header{
    height: 100px;
    width: 100%;
    background-color: #d6d6d6;
    position: fixed;
    opacity: 0.7;
    z-index: 10;
    top: 0;
    left: 0;
}



.logo {
    height: 100px;

}

.header-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.top-wrapper{
    padding: 150px 0;
    margin-top: 100px;
    background-image: url(/Assets/top-background.jpg);
    opacity: 0.75;
    left: 0;
    background-size: cover;
    position: relative;
}

.text-wrapper h1{
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 30px;
}

.top-wrapper{

}

.menu a{
    text-decoration: none;
    margin: 0 50px;
    color: #000000;
    font-size: 20px;
    display: inline-block;
    line-height: 100px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
